.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;

  img {
    width: 100px;
    margin: 20px;
  }
  button {
    margin: 20px;
  }

  a:hover {
    text-decoration: underline;
  }

  .transfer-fund {
    background-color: rgba(135, 206, 250, 0.544);
    width: 500px;
    border-radius: 10px;
  }
}
